<div class="row">

<section class="jk-slider">
    <div id="carousel-example" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example" data-slide-to="1"></li>
    <li data-target="#carousel-example" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active">

      <a href="#"><img src="https://ws1.sinaimg.cn/large/006tNbRwly1fg2cvr9jybj31kw11okjs.jpg" /></a>
        <div class="hero">
        <hgroup>
            <h1>只为品尝新鲜</h1>
            <h3> 真正的实力派  营养不拍被爆料 </h3>
            <p><a class="btn btn-lg btn-danger" href="/products">马上选购</a></p>

        </hgroup>

      </div>
    </div>
    <div class="item">

      <a href="#"><img src="https://ws2.sinaimg.cn/large/006tNbRwly1fg2cisygh9j31kw13i7wm.jpg" /></a>
      <div class="hero">
        <hgroup>
            <h1>果然滋润</h1>
            <h3>果肉润嫩  口口“嫩”体验</h3>
            <p><a class="btn btn-lg btn-danger" href="/products">马上选购</a></p>

        </hgroup>

      </div>
    </div>
    <div class="item">

      <a href="#"><img src="https://ws4.sinaimg.cn/large/006tKfTcly1fg2d8tj9ouj31kw11xu11.jpg" /></a>
      <div class="hero">
        <hgroup>
            <h1>甜美蛋糕</h1>
            <h3>幸福微微甜 好似初尝甜点时那柔软顺滑的一小口</h3>
            <p><a class="btn btn-lg btn-danger" href="/products">马上选购</a></p>

        </hgroup>

      </div>
    </div>
  </div>

  <a class="left carousel-control" href="#carousel-example" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

</section>


<section id="service" class="what-we-do">


          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="do-box">

              <a href="#" target="_blank">
                <img src="http://ww1.sinaimg.cn/large/006tKfTcly1fg0x0h1vrvj31kw11vb2b.jpg" width="290">
                <h4>蔬菜豆菇</h4>
              </a>
            </div>
           </div>

          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="do-box">

              <a href="#" target="_blank">
              <img src="http://img07.yiguoimg.com/e/others/160314/9288692888445038.jpg" width="290">
              <h4>新鲜水果</h4>
              </a>
            </div>
           </div>

          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="do-box">

              <a href="#" target="_blank">
                <img src="https://ws4.sinaimg.cn/large/006tKfTcly1fg2e0v5j2oj31kw11zqvd.jpg" width="290">
                <h4>鲜肉蛋禽</h4>
              </a>
            </div>
           </div>

           <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="do-box">

              <a href="#" target="_blank">
                <img src="https://ws2.sinaimg.cn/large/006tKfTcly1fg2dx5qsu9j31kw11q4qr.jpg" width="290">
              <h4>水产海鲜</h4>
              </a>
            </div>
          </div>
        </section>


<!--****************************************************************-->

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">新疆哈密瓜</h2>
        <p class="lead">烈日骄阳 晒出一口浓甜<br>咬一口咔嚓溢汁 满口清新的瓜香味</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'https://ws3.sinaimg.cn/large/006tNbRwly1fg4u2gqgdbj30dw0dw76h.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">新鲜蓝莓</h2>
        <p class="lead">果味清新微甜  富含丰富花青素</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'https://ws4.sinaimg.cn/large/006tNbRwly1fg4u2fb1mcj30dw0dwjtp.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">墨西哥牛油果</h2>
        <p class="lead">珍贵“森林黄油”<br>美洲人喜欢当粮食来吃 中国台湾称为“幸福果”</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'https://ws2.sinaimg.cn/large/006tNbRwly1fg4u2dho2xj30dw0dw407.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>


<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">越南火龙果</h2>
        <p class="lead">看一眼 红皮白肉水当当<br>尝一口 细滑清新难忘怀</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'https://ws2.sinaimg.cn/large/006tNbRwly1fg4tz9t6i9j30dw0dw75u.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>
<!--****************************************************************-->
<div class="home-product">

好吃好吃好吃好吃好吃好吃<br/>

好吃好吃好吃好吃好吃好吃好吃好吃<br/>

好吃好吃好吃好吃<br/>

好吃好吃好吃好吃好吃好吃好吃好吃<br/>

好吃好吃好吃好吃<br/>

好吃好吃好吃好吃好吃好吃<br/>

    <div class="container-fluid">
    <div class="col-md-6 col-sm-6">
    <div class="home-product-hedaing left-product">
      <h2>好吃不贵</h2>
      <h2>越吃越苗条</h2>
    </div>
    </div>
    <div class="col-md-6 col-sm-6">
    <div class="home-product-hedaing right-product">
      <h1>没想到还有这么好吃的网站</h1>
      
    </div>
    </div>
  </div>
</div>

</div>
