<div class="row">

<section class="jk-slider">
    <div id="carousel-example" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example" data-slide-to="1"></li>
    <li data-target="#carousel-example" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active">
      <a href="#"><img src="https://ws1.sinaimg.cn/large/006tNbRwly1fg2cvr9jybj31kw11okjs.jpg" /></a>
        <div class="hero">
        <hgroup>
            <h1>只为品尝新鲜</h1>        
            <h3> 真正的实力派  营养不拍被爆料 </h3>
            <p><a class="btn btn-lg btn-danger" href="/products">马上选购</a></p>
        </hgroup>
        
      </div>
    </div>
    <div class="item">
      <a href="#"><img src="https://ws2.sinaimg.cn/large/006tNbRwly1fg2cisygh9j31kw13i7wm.jpg" /></a>
      <div class="hero">
        <hgroup>
            <h1>果然滋润</h1>        
            <h3>果肉润嫩  口口“嫩”体验</h3>
            <p><a class="btn btn-lg btn-danger" href="/products">马上选购</a></p>
        </hgroup>
        
      </div>
    </div>
    <div class="item">
      <a href="#"><img src="https://ws4.sinaimg.cn/large/006tKfTcly1fg2d8tj9ouj31kw11xu11.jpg" /></a>
      <div class="hero">
        <hgroup>
            <h1>甜美蛋糕</h1>        
            <h3>幸福微微甜 好似初尝甜点时那柔软顺滑的一小口</h3>
            <p><a class="btn btn-lg btn-danger" href="/products">马上选购</a></p>
        </hgroup>
        
      </div>
    </div>
  </div>

  <a class="left carousel-control" href="#carousel-example" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
</section>


<section id="service" class="what-we-do">
 

          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="do-box">

              <a href="#" target="_blank">
                <img src="http://ww1.sinaimg.cn/large/006tKfTcly1fg0x0h1vrvj31kw11vb2b.jpg" width="290">
                <p><b>蔬菜豆菇</b>
              </a>
            </div>
           </div>

          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="do-box">

              <a href="#" target="_blank">
              <img src="http://img07.yiguoimg.com/e/others/160314/9288692888445038.jpg" width="290">
              <p><b>新鲜水果</b>
              </a>
            </div>
           </div>

          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="do-box">

              <a href="#" target="_blank">
                <img src="https://ws4.sinaimg.cn/large/006tKfTcly1fg2e0v5j2oj31kw11zqvd.jpg" width="290">
                <p><b>鲜肉蛋禽</b>
              </a>
            </div>
           </div>

           <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="do-box">

              <a href="#" target="_blank">
                <img src="https://ws2.sinaimg.cn/large/006tKfTcly1fg2dx5qsu9j31kw11q4qr.jpg" width="290">
              <p><b>水产海鲜</b>
              </a>
            </div>
           

    
</div>