/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/****** 更换导航栏颜色 ******/
.navbar-default {

    background-color: #ff8a80;//背景颜色
    border-color: #ff8a80;//边框色

    margin-bottom: 0;//底部 margin 不撑开距离
}
/****** 更换导航栏颜色 ******/

.navbar-default .navbar-brand {

   color: #EEEEEE;//JDSTORE字体颜色


}

/****** 修改导航栏链接颜色 ******/

.navbar-default .navbar-nav > li > a{

  color: #EEEEEE;

}

.navbar-default .navbar-nav > li > a:hover{
  color: #FF4343;
}

.navbar-default .navbar-nav > li > a:focus {
  color: #FF5722;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:hover{
  color: #795548;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: #FF4343;;
}
/****** 修改导航栏链接颜色 ******/


/****** 去掉导航栏的圆角 ******/

@media (min-width: 768px) {
    .navbar {
        border-radius: 0;//圆角为0
    }
}
/****** 去掉导航栏的圆角 ******/


/********************* footer *********************/
 .full {
    width: 100%;
}
.gap {
  height: 30px;
  width: 100%;
  clear: both;
  display: block;
}
.footer {
  background-color: #ffcdd2;
  padding-bottom: 30px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #DDDDDD;
}
.footer p {
  margin: 0;
}
.footer img {
  max-width: 100%;
}
.footer h3 {
  border-bottom: 1px solid #BAC1C8;
  color: #54697E;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 40px 0 10px;
  text-transform: uppercase;
}
.footer ul {
  font-size: 13px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
  color: #7F8C8D;
}
.footer ul li a {
  padding: 0 0 5px 0;
  display: block;
}
.footer a {
  color: #78828D
}
.supportLi h4 {
  font-size: 20px;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
  background: #FFFFFF;
  display: inline-block;
  float: left;
  height: 30px;
  clear: both;
  width: 100%;
}
.newsletter-box .btn {
  border: medium none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  height: 40px;
  padding: 0;
  width: 100%;
  color: #fff;
}
.newsletter-box {
  overflow: hidden;
}
.bg-gray {
  background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
  box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
  background: none repeat scroll 0 0 #B5B5B5;
  border: 2px solid #B5B5B5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  
  -ms-border-radius: 50%;
  border-radius: 50%;
  float: left;
  height: 36px;
  line-height: 36px;
  margin: 0 8px 0 0;
  padding: 0;
  text-align: center;
  width: 36px;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}
.social li:hover {
  transform: scale(1.15) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
}
.social li a {
  color: #EDEFF1;
}
.social li:hover {
  border: 2px solid #2c3e50;
  background: #2c3e50;
}
.social li a i {
  font-size: 16px;
  margin: 0 0 0 5px;
  color: #EDEFF1 !important;
}
.footer-bottom {
  background-color: #ff8a80;
  border-top: 1px solid #DDDDDD;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer-bottom p.pull-left {
  padding-top: 6px;
}
.payments {
  font-size: 1.5em;
}
/********************* footer *********************/


/********************* 四个分类图片 *********************/
.what-we-do{
    text-align: center;

    img{
      margin-top: 30px;
      margin-bottom: 0px;
      width: 200px;
      height: 150px;
    }
}

.what-we-do .do-box{
    border: 1px solid transparent;
}

.do-box{
  margin-bottom: 30px;
}

.do-box p {

    bottom: 0;
    left: 5;
    right: 5;
    width: 300px;
    height: 30px;
    line-height: 25px;
    margin: 10px;
    color: #575757;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: rgba(255, 255, 255, 0.9);
}

.do-box b{
  font-size: 20px
}
/********************* 四个分类图片 *********************/


/********************* search 页面*********************/

.panel-default{
  margin-top: 10px; //10px距离，不紧挨着导航栏
}

/********************* search 页面 *********************/

/********************* product页面 *********************/
.j{
  margin-top: 10px; //product页面不紧挨着导航栏
}

/********************* search 页面 *********************/

body{margin:0px; padding:0px;}
@-webkit-keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -400px 0;}
}
 
@keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -400px 0;}
}
.home-product {
    background:url("https://ws1.sinaimg.cn/large/006tNbRwly1fg2cie3vmjj31kw1291ky.jpg");
    float: left;
    padding: 100px 0;
    width: 100%;
    height: 60%;
    color:#fff !important;
  min-height:641px;
  -webkit-animation: backgroundScroll 35s linear infinite;
  animation: backgroundScroll 10s linear infinite;
  background-size:130% 100%;
  background-position:top;
  background-attachment:fixed;

}

       /*********4个水果**********/

.content-section-a {
    padding: 50px 0;
    background-color: #ecf0f1;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #f8f8f8;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #FAFAFA;
}

.section-heading {
    margin-bottom: 30px;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}
/*********4个水果**********/


