/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/****** 更换导航栏颜色 ******/
.navbar-default {
    background-color: #8764B8;//背景颜色
    border-color: #8764B8;//边框色
    margin-bottom: 0;//底部 margin 不撑开距离
}
/****** 更换导航栏颜色 ******/

.navbar-default .navbar-brand {
   color: #FFA07A;//字体颜色

}

/****** 修改导航栏链接颜色 ******/

.navbar-default .navbar-nav > li > a{
  color: #FFA07A;
}

.navbar-default .navbar-nav > li > a:hover{
  color: #FF4343;
}

.navbar-default .navbar-nav > li > a:focus {
  color: #FF5722;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:hover{
  color: #795548;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: #FF4343;;
}
/****** 修改导航栏链接颜色 ******/


/****** 去掉导航栏的圆角 ******/

@media (min-width: 768px) {
    .navbar {
        border-radius: 0;//圆角为0
    }
}

/****** 去掉导航栏的圆角 ******/

